<h2>Log in</h2>

<button type="button-linkedin" class="logo-button">
  <a href="/auth/linkedin">Sign up with LinkedIn</a>
</button>

<div class="col-md-3 col-xs-12">
  <h4>Email</h4>
  <input name="first_name" placeholder="Email" type="text" class="form-control" value="">
  <h4>Password</h4>
  <input name="first_name" placeholder="Password" type="text" class="form-control" value="">
</div>