<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Viragos </title>
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous">
  <link rel="stylesheet" href="./style.css" />
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <script type="text/javascript" src="./script.js"></script>
</head>

<body>
  <div class="form-popup" id="myForm">
    <h2>Sign up</h2>

    <button type="button" class"@image-button linkedin-button btn btn-primary">
      <img src="linkedin.png" alt="linkedin-logo">
      <a href="/auth/linkedin">Sign up wi th LinkedIn</a>
    </button>

    <div class="col-md-3 col-xs-12">
      <h4>Email</h4>
      <input name="first_name" placeholder="Email" type="text" class="form-control" value="">
      <h4>Password</h4>
      <input name="first_name" placeholder="Password" type="text" class="form-control" value="">
    </div>

  </div>


</body>