<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Viragos </title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">

    <link rel="stylesheet" href="./style.css" />
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    {{!--
    <script type="text/javascript" src="./script.js"></script> --}}
</head>

<body>
    <div class="womanComp">
        <div class="centered">Empowering women through mentoring</div>
        <div class="img-overlay">
            <a class="btn btn-md btn btn-secondary" href="profiles">Find your next mentor</a>
        </div>
    </div>

</body>