<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Viragos </title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    {{!--
    <link rel="stylesheet" href="./style.css" /> --}}
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    {{!--
    <script type="text/javascript" src="./script.js"></script> --}}
</head>

<body>
    <div class=" womanComp">
        <div class="centered">Empowering women through mentoring</div>
        <div class="img-overlay">
            <a class="btn btn-md btn btn-secondary" href="users">Find your next mentor</a>
        </div>
    </div>

</body>

<footer>


    <div class="col-md-3 col-md-offset-1 col-xs-12 col-xs-offset-1">
        <h4>
            <span>Useful info</span>
        </h4>
        <ul>
            <li><a href=""><span>How does it work?</span></a></li>
            <li><a href=""><span>Contact us</span></a></li>
            <li><a href=""><span>Privacy</span></a></li>
        </ul>
    </div>

    <div class="col-md-3 col-xs-12 col-xs-offset-1">
        <h4>
            <span>About Viragos</span>
        </h4>
        <ul>
            <li><a href=""><span>Who are we?</span></a></li>
            <li><a href="/terms"><span>General Terms of Use</span></a></li>
            <li><a href="/legal"><span>Legal mentions</span></a></li>
        </ul>
        <p>Copyright © Viragos 2019</p>
    </div>



</footer>