<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Viragos </title>
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous">
  <link rel="stylesheet" href="stylesheets/style.css" />
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <script type="text/javascript" src="./script.js"></script>
</head>

<body>
  <h2>Personal information</h2>
  <form action="/user/profile" method="post">
    <div class="col-md-3 col-xs-12">
      <h4>First name</h4>

      <input name="firstName" placeholder="First name" type="text" class="form-control" value="">
      <h4>Last name</h4>
      <input name="lastName" placeholder="Last name" type="text" class="form-control" value="">

    </div>

    <div class="col-md-3 col-xs-12"></div>
    <h4>Mentor or Mentee?</h4>

    <input type="radio" name="role" value="mentor"> Mentor<br>
    <input type="radio" name="role" value="mentee"> Mentee<br>

    </div>

    <div class="col-md-8 col-xs-12">
      <h4>Who are you in a nutshell?</h4>

      <input name="summary" placeholder="Who are you?" type="text" class="form-control" value="">

      <button type="submit">Submit</button>
  </form>
  </div>

</body>

<footer>
  <div class="col-md-3 col-md-offset-1 col-xs-12 col-xs-offset-1">
    <h4>
      <span>Useful info</span>
    </h4>
    <ul>
      <li><a href=""><span>How does it work?</span></a></li>
      <li><a href=""><span>Contact us</span></a></li>
      <li><a href=""><span>Privacy</span></a></li>
    </ul>
  </div>

  <div class="col-md-3 col-xs-12 col-xs-offset-1">
    <h4>
      <span>About Viragos</span>
    </h4>
    <ul>
      <li><a href=""><span>Who are we?</span></a></li>
      <li><a href="/terms"><span>General Terms of Use</span></a></li>
      <li><a href="/legal"><span>Legal mentions</span></a></li>
    </ul>
  </div>

  <p>Copyright © Viragos 2019</p>

</footer>