<div class="col-md-8 col-xs-12">

  <h1>Agriculture, Animals, Food</h1>

  <h1>Tech, Science, Engineering</h1>

  <h1>Medical, Wellbeing, Sport</h1>

  <h1>Creative arts, Fashion, Media</h1>

  <h1>Governement, Law, Education</h1>

  <h1>Accountancy, Finance, Insurance</h1>

  <h1>Business, Sales, Tourism</h1>

</div>